!!! XML
%svg{:height => "300", :width => "300", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg"}
  / Created with SVG-edit - http://svg-edit.googlecode.com/
  %rect#svg_1{:fill => "##{@clrs[0]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "0", :y => "0"}
  %rect#svg_2{:fill => "##{@clrs[1]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "100", :y => "0"}
  %rect#svg_3{:fill => "##{@clrs[2]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "200", :y => "0"}
  %rect#svg_4{:fill => "##{@clrs[3]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "0", :y => "100"}
  %rect#svg_5{:fill => "##{@clrs[4]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "100", :y => "100"}
  %rect#svg_6{:fill => "##{@clrs[5]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "200", :y => "100"}
  %rect#svg_7{:fill => "##{@clrs[6]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "0", :y => "200"}
  %rect#svg_8{:fill => "##{@clrs[7]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "100", :y => "200"}
  %rect#svg_9{:fill => "##{@clrs[8]}", :height => "99", :stroke => "#000000", "stroke-width" => "0", :width => "99", :x => "200", :y => "200"}
